{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}
{% load listing_tags %}

{% block title %}{{ block.super }}Listing{% endblock %}
{% block navbar-left %}
    {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
    {% if not user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
        <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block container %}
    <h1 align="center">Book your private surf guide or surf experience</h1>
    <h4 align="center">Find and book surf experiences from {% total_listings %} organisers worldwide</h4>
    <div class="text-page">
    {% include "search/search_results.html" %}
    {% include "pagination.html" with page=page_obj %}
    </div><!-- /.container -->
{% endblock container %}


{% block scripts %}
    <script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

