{% extends "accounts/auth_base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Log In{% endblock %}

{% block form_heading %}Please Log In{% endblock %}

{% block form %}
    <a class="btn btn-block btn-social btn-facebook" href="{% url "social:begin" "facebook" %}?next={{  request.path }}">
        <i class="fa fa-facebook"></i> Sign in with Facebook
    </a>


    <a class="btn btn-block btn-social btn-twitter" href="{% url "social:begin" "twitter" %}?next={{  request.path }}">
        <i class="fa fa-facebook"></i> Sign in with Twitter
    </a>

    {% crispy form %}

    <div class="form-message">
        <p>
            Don't have an account? <a href="{% url 'accounts:signup' %}">Sign up</a>.
        </p>
    </div>
{% endblock form %}

